* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
    color-scheme: light dark;
}

:root {
    --bg-color: #efeefd;
    --nav-color: #987878;
    --btn-color: #bc1e3d;
    --dark-color: #262020;
    --helper-color: #99b9ff;
}

html {
    font-size: 62.5%;
    height: 100vh;
}

body {
    margin: 0;
    min-width: 32rem;
    min-height: 100vh;
}

/* React toastify css */
.toastBody {
    font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
}

h1 {
    font-size: 5.4rem;
    line-height: 1.1;
    font-weight: bold;
}

p,
li,
label,
input,
textarea {
    font-size: 1.8rem;
    line-height: 1.56;
    letter-spacing: 0.1rem;
    word-spacing: 0.06rem;
}

/* a {
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    color: var(--nav-color);
    text-decoration: inherit;
    box-shadow:inset 0 0 0 0 var(--nav-color);
    
} */
a {
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    color: var(--nav-color);
    text-decoration: none;
    position: relative;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--nav-color);
    /* transform-origin: bottom right; */
    transition: transform 0.25s ease-out;
}

a:hover::after,
a:focus::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a:hover,
a:active {
    color: #777676;
}


li {
    list-style: none;
}

.container {
    /* max-width: 140rem; */
    padding: 4rem 2.4rem;
    margin: 0 8rem;
}


.grid {
    display: grid;
    gap: 10px;
}

.grid-two-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-four-cols {
    margin-top: 100px;
    gap: 0.1rem;
    grid-template-columns: repeat(4, 1fr);
}

/* Module rules / reusable */
button {
    text-transform: capitalize;
    padding: 0.7rem 1.4rem;
    font-size: 1.7rem;
    font-weight: 500;
    background-color: var(--btn-color);
    border-radius: 0.8rem;
    border: 0.1rem solid transparent;
    cursor: pointer;
    letter-spacing: 0.1rem;
    transition: border-color 0.3s;
}

/* state rules */
button:hover {
    box-shadow: inset 0 0 0 0.2rem var(--bg-color);
    /* border: 0.2rem solid #ffffff  ; */

}

/* a:hover,
a:active {
    color: #777676;
    box-shadow:inset 0 0 200px 0 var(--nav-color);
} */

.main-heading {
    position: relative;
    text-transform: capitalize;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 0.2rem;
        background-color: var(--btn-color);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover,
    a.active {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

.section-hero {
    /* margin-left: 60px;
    margin-right: 60px; */
    margin-top: 3rem;


    .grid {
        align-items: center;
    }

    .hero-content {
        p {
            margin: 2.4rem 0 4.8rem 0;
            font-size: 25px;
            font-weight: 500;
        }

    }
}

.input-wrapper {
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    left: 10px;
    /* Adjust the left position as needed */
    transform: translateY(-50%);
    pointer-events: none;
    /* Ensure the icon does not block the input field */
    size: 100px;
    height: 1.8rem;
    width: 1.8rem;
}

.input-wrapper input {
    padding-left: 35px;
    /* Adjust padding to accommodate the icon */
}

.submit {
    margin-top: 30px;
    background-color: transparent;
}

/* Section 2 */
.section-analytics {
    .container {
        background-color: var(--bg-color);
        border-radius: 1rem;
    }

    .grid {
        color: var(--dark-color);
    }

    .div1 {
        text-align: center;
        border-right: 0.2rem solid var(--dark-color);

        p {
            font-weight: 600;
            font-size: 2rem;
        }

        h2 {
            font-size: 4.8rem;
        }
    }

    .last-child {
        border: none;
    }
}


/* SECTION 3 */

.section-contact {

    h1 {
        /* margin-bottom: 3.2rem; */
        font-size: 4rem;
    }

    .container {
        padding-top: 3.2rem;
    }

    .feedback-image {
        display: flex;
        justify-content: start;
        align-self: center;

        img {
            height: auto;
            width: 60%;
        }
    }
}

.section-form {

    form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    label {
        display: block;
        /* margin-bottom: 1.2rem; */
    }

    input,
    textarea {
        width: 80%;
        padding: 0.2rem 0.6rem;
    }

    button {
        width: 30%;
    }
}

/* Registration form && Login form */

.registration-form,
.login-form {

    form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    label {
        display: block;
        /* margin-bottom: 1.2rem; */
    }

    input,
    textarea {
        width: 80%;
        padding: 0.2rem 0.6rem;
    }

    .btn-submit {
        width: 20%;
    }
}


/* Error page */

.error-content {
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: justify;
        gap: 2rem;

        .top {

            h1 {
                font-size: 80px;
                text-align: center;
                background: radial-gradient(circle, rgb(146, 146, 146) 0, #bc1e3d 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            h2 {
                font-size: 60px;
                text-align: center;
                background: radial-gradient(circle, rgb(146, 146, 146) 0, #bc1e3d 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

        }

        .bottom {


            ul {
                display: inline-block;
                /* margin-left: 100px; */
            }

            li {
                list-style-type: circle;
            }

            p {
                font-weight: 700;
            }
        }
    }
}

.section-about {
    margin-left: 50px;
    margin-right: 50px;

    .grid-two-cols {
        grid-template-columns: 2fr 1fr;
    }

    a {
        text-decoration: underline;
        color: #efeefd;
    }

    h2 {
        font-size: 2.3rem;
    }

    p {
        font-size: 1.5rem;
    }

    ul {
        display: inline;
    }

    ul li {
        font-size: 1.5rem;

    }

    p ul li {
        list-style: disc;
        margin-left: 20px;
    }

    .contactus {

        h2,
        p,
        button {
            padding: 1rem;
        }

        button {
            margin-left: 10px;
            box-shadow: inset 0 0 0 0.2rem var(--bg-color);
            background-color: transparent;
        }
    }
}


.section-offer {
    margin-top: 10rem;
    margin-bottom: 10rem;

    .offer-content {
        margin: 0 70px;
    }

    .grid {
        gap: 0rem;
    }

    .grid-two-cols .grid-two-cols {
        grid-template-columns: 2.5fr 1fr;

        button {
            height: 30%;
            width: 50%;
        }
    }

    .container .container {
        margin: 0 3rem;

        h2 {
            font-size: 2rem;
        }

        p {
            font-size: 1.5rem;
        }

        border-radius: 8px;
        box-shadow: inset 0 0 0 0.2rem var(--bg-color);
    }
}


/* Destination */
.destinations {
    /* padding: 70px 0 */
    color: white;
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    /* width: 100%; */
    margin: 5rem 8rem;

    h2 {
        /* text-align: center; */
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .tabs {
        display: flex;
        /* justify-content: center; */
        margin-bottom: 20px;
    }

    .tabs button {
        background: none;
        border: none;
        color: white;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
    }

    .tabs .active {
        border-bottom: 2px solid #007bff;
    }

    .content {
        /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .destination {
        margin: 10px;
        /* text-align: center; */
        font-size: 1.5rem;
    }

    .properties {
        display: block;
        font-size: 1.2rem;
        color: #aaa;
    }
}

/* Media queries */

@media (width <=998px) {
    .grid-two-cols {
        grid-template-columns: 1fr;
    }

    .section-services {
        & .grid-three-cols {
            grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
        }
    }

    .section-registration {
        & .container {
            & .registration-image img {
                width: 60%;
                height: auto;
            }
        }
    }

    .section-login {
        & .container {
            & .login-image img {
                width: 60%;
                height: auto;
            }
        }
    }

    .section-analytics {
        margin: auto;

        .grid-four-cols {
            grid-template-columns: 1fr;

        }

        .div1 {
            border: none;
        }
    }

}


th {
    font-size: 1.9rem;
    letter-spacing: 0.1rem;
    padding: 3rem;
    text-align: center;
    box-shadow: 0 0.3rem 0 grey;
    margin-bottom: 10px;
    color: var(--dark-color);
    text-transform: capitalize;

}

td {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    padding: 3rem;
    text-align: center;
    color: var(--dark-color);
    width: 30rem;
}

table {
    background:rgb(255, 254, 254);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
    border-radius: 1rem;
    border-collapse: collapse;

}
.edit{
   background-color: rgb(2, 174, 2);
   width: 8rem;
}


body tr {
    display: grid;
    grid-template-columns: repeat(5, minmax(10rem, 1fr));
    align-items: center;
    box-shadow: 0 0.3rem 0 grey;
    /* margin-bottom: 10px; */
    border-bottom: 4px solid transparent;
    color: var(--bg-color);

    &:last-child {
        box-shadow: none;
    }
}
.feedback{
    display: grid;
    grid-template-columns: repeat(4, minmax(10rem, 1fr));
    align-items: center;
    box-shadow: 0 0.3rem 0 grey;
    /* margin-bottom: 10px; */
    border-bottom: 4px solid transparent;
    color: var(--bg-color);

    &:last-child {
        box-shadow: none;
    }
}




@media (width <=798px) {
    html {
        font-size: 56.25%;
    }

    .section-registration {
        & .container {
            & .registration-image img {
                width: 50%;
                height: auto;
            }
        }

        & .registration-form {
            & input {
                width: 100%;
                padding: 0.6rem 0.6rem;
            }
        }
    }

    .section-login {
        & .container {
            & .registration-image img {
                width: 50%;
                height: auto;
            }
        }

        & .login-form {
            & input {
                width: 100%;
                padding: 0.6rem 0.6rem;
            }
        }
    }
    .section-offer{
        .grid{
            gap: 5rem;
        }
        .grid-two-cols .grid-two-cols{
            grid-template-columns: 1fr;
            button{
                width: 100%;
            }
        }
        
    }
    .section-analytics {
        margin: auto;

        .grid-four-cols {
            grid-template-columns: 1fr;

        }

        .div1 {
            border: none;
        }

        .destinations {
            margin-left: 50px;
            margin-right: 50px;
            width: 100%;
        }
    }
}

    /* Admin hotel service section */

    .hotel-admin-section {

        .container {
            /* max-width: 1200px; */
            margin: 0 auto;
            padding: 20px;
        }
        .heading{
            font-size: 4rem;
        }
        .grid {
            display: grid;
            gap: 80px;
           
        }
        .grid .grid{
            gap: 0px;
        }

        h2{
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 2rem;
        }
        .grid-two-cols {
            grid-template-columns: 1fr 1fr;
            
        }

        .grid-two-cols .service-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .grid-two-cols .service-item span {
            margin-left: 10px;
            font-size: 17px;
        }

        .grid-two-cols .service-item svg {
            font-size: 15px;
        }

        .services .grid {
            display: grid;
            gap: 50px;

        }

        img {
            max-width: 100%;
            height: 100%;
            border-radius: 5px;
        }

        .unavailable {
            text-decoration: line-through;
        }

    }


    /* user hotel section */
    .section-hotel {

        .grid {
            display: grid;
            gap: 35px;
        }

        .grid-three-cols {
            grid-template-columns: repeat(3, 1fr);
        }

        .card {
            padding: 5px;
            border-radius: 8px;
            box-shadow: inset 0 0 0 0.2rem var(--bg-color);

        }

        .card .card-img {
            position: relative;
        }

        .card .card-heart {
            position: absolute;
            top: 10px;
            right: 10px;
            color: #fff;
            font-size: 24px;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 5px;
            border-radius: 90%;
        }



        .card .card-img img {
            position: relative;
            width: 100%;
            height: 200px;

        }

        .card-details {
            font-style: italic;

            .grid-two-cols {
                grid-template-columns: 75% 25%;


            }

            .name,
            .price {
                font-weight: 700;
                color: #dbdbdb;
            }

            .place,
            .date {
                font-weight: 550;
                color: var(--nav-color);
            }

            padding: 10px;
            font-size: 1rem;
        }
    }